html,body {
  height: 100%;
  marging: 0;
  padding: 0;
  width: 100%;
  font-family: Sofia, sans-serif;
  background-color: #f4f4f4  
}

.topanov
overflow:hidden;
background-color: #333; 
margin-top; 0px;
display: flex;
justify_content: space-around;

}

.topanov a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;  
}

.topanov a:hover {
  background-color: #0e43e1;
  color:  black;
}

.topanov a:active {
  background-color: #04AA6D;
  color:  black;
}

.sidebar {
  height: 100%;
  width: 100px;
  position fixed;
  top: 0;
  left: 0;
  background-color: #333;
}





.sidebar a:hover {
  background-color: #add;
  color: black;
}

main  {
  margin-left: 200px;
  padding: 20px;
  background-color: #33df11;
}

footer
background-color: #333; 
color: white; 
text-align: center:
padding 10px;
bottom: 0;
width: 100%;

button {
  background-color: #11a1df;
  color: white;
  border: none;  
  padding:10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 10px;
  margin-bottom: 50px;
  transition: background_color 0.3s ease;
  border-radius: 12px;
}

h1 {
  color: aqua;
  font-family: Sofia, sans-serif;
  font-size: 50px;
}

p {
  color: #0e43e1;
  font-size: 20px;
}

#saturs {
  background-color: #f2f2f;
  padding: 20px
  border-radius: 10px;
  margin-bottom: 20px;
}

#saturs p {
  color: yellow;
  font-size: 20px;
}

#saturs img {
  display: block;
  border-radius: 8px;
  margin: 0 auto;
}

#tabula {
  background-color: #df3a11;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;  
}

#canva {
  background-color: #9e11df;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
} 

button:hover {
  background-color: #04AA6D;
  }

#tabula table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid #083a10;
}

#table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

#tabula tr:nth-child(even) {
  background-color: #a90404;
      }
  
body {
 background-color: #333; /* fona krāsa */
 font-family: Arial, Helvetica, sans-serif;
}
